body::-webkit-scrollbar{

    display: none;
}
/*define Web size*/



main{

    height:49vw;
    padding-top: 2%;
}






/*typer Effect*/

@keyframes typing {
    0%{ 
        width: 0% ;
    }
    100% 
    { 
        width: 100% ;
    }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: lightblue; }
}




.typed-out{
     display:block;
     color:black;
     overflow: hidden;
     border-right: .15em solid lightblue;
     white-space: nowrap;
     width: 0%;
     line-height:normal;
     animation: 
     typing 1s steps(19, end) forwards,
     blink .8s infinite;
}



.type-finish{

    display: block;
}
  

.typed-stop{
    display: none;
    line-height: 0%;
}

/*contanier*/
.FullSize{

    height: 87%;
}

.container-fluid{

    background-color: blueviolet;
}

/*header*/

.header{

    position:relative;
    height: 5%;

}


.headerItem{

    height: 10%;

}
.headerItem.col-lg-2.col-md-4.col-6 a{

    height: 100%;
}

.Logo{
    margin-top:10%;
    height: 55%;
    width: 55%;
    margin-bottom: 5%;

}

@media (min-width: 476px){
    .Logo{
        margin-top:11%;
        height: 42%;
        width: 42%;
        margin-bottom: 5%;
    
    }
    
}


@media (min-width: 768px){
    .Logo{
        margin-top:12%;
        height: 38%;
        width: 38%;
        margin-bottom: 5%;
    
    }
    
}


@media(min-width: 992px){
    .Logo{
        margin-top:13%;
        height: 53%;
        width: 53%;
        margin-bottom: 5%;
    
    }
    
}

/* nav Btn*/

.NavBtnSize{

  margin-top: 10%;
  margin-left: 30%;
  border: none;
  color: white;
  text-decoration: none;
  height: 10vh;
  width: 70%;
  position: absolute;
  z-index: 2;

}

@media (min-width: 476px){
    .NavBtnSize{

        margin-top: 25%;
        margin-left: 5%;
        border: none;
        color: white;
        text-decoration: none;
        height: 10vh;
        width: 70%;
        position: absolute;
        z-index: 2;
      
      }
      
    
}

.Nav{
    height: 28vh;
    width: 30vw;
    top:0;
    right: 0;
    position: fixed;
    z-index: 4;
}

@media (min-width: 476px){
    .Nav{

        height:28vh;
        width: 18vw;
        top:0%;
        right: 0%;
        position: fixed;
        z-index: 4;
    }
}


@media (min-width: 768px){
    .Nav{

        height: 28vh;
        width: 13vw;
        top:0%;
        right: 0%;
        position: fixed;
        z-index:4 ;
    }
}


@media(min-width: 992px){
    .Nav{

        height: 28vh;
        width: 8vw;
        top:0%;
        right: 0%;
        position: fixed;
        z-index: 4;
    }
}


.navbar-toggler-icon{

    padding-top: 2%;
    height: 100%;
    width: 70%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
     -o-transition: .5s ease-in-out;
     transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    float: none;
    
}

.navbar-toggler-icon span{
    display: block;
    position: absolute;
    height: 10%;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .navbar-toggler-icon span:nth-child(1) {
    top: 10%;
  }
  
  .navbar-toggler-icon span:nth-child(2),.navbar-toggler-icon span:nth-child(3) {
    top: 40%;
  }
  
  .navbar-toggler-icon span:nth-child(4) {
    top: 70%;
  }
  
  .navbar-toggler-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  .navbar-toggler-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .navbar-toggler-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .navbar-toggler-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.collapse{
    transition: all 0.1s;
    overflow: visible;
    float: right;
    width: 200%;
}

@media (min-width: 476px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 300%;
    }
    
}

@media (min-width: 768px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 330%;
    }

}


 @media(min-width: 992px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 270%;
    }
}

@media(min-width: 1200px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 270%;
    }
}

.active.collapsing{
    width:100%;

    transform: translateX(295px);
    transition: all 0.1s;
}



.inactive.collapsing{

    width: 100%;
    transform: translateX(295px);
    transition: all 0.1s;

}


.MainMeun{

    text-align: center;
    padding-left: 16px;

}
.MainMeunTitle{

    padding-top: 20%;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 2.5rem;

    padding-bottom: 5%;

}

@media ( min-width: 467px){

    .MainMeunTitle{

        padding-top: 20%;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 3rem;

        padding-bottom: 5%;

        
    
    }
    

}


@media (min-width: 768px){
    .MainMeunTitle{

        padding-top: 20%;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 3.4rem;

        padding-bottom: 5%;

        
    
    }
}


 @media(min-width: 992px){
    .MainMeunTitle{

        padding-top: 20%;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 4rem;
        padding-bottom: 5%;

        
    
    }
}


.MainMeunSubTitle{

    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1rem;

    

}


@media ( min-width: 467px){

    .MainMeunSubTitle{

        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 1.5rem;
    
        
    
    }
    

}




/* Arcticle */



.typer-content{

    height: fit-content;
    width:fit-content;
    font-family: Lucida Console;
    font-size: 2.6vw;
    margin-left: 5%;

}

/*

@media ( min-width: 565px ) {
    
    .typer-content{

        height: fit-content;
        width:fit-content;
        font-family: Lucida Console;
        font-size: 2.3rem;
    
    }
    
}

 */
.MainMeunSubTitle a{

    text-decoration: none;
    color: gray;
}


.MainMeunSubTitle a:hover{

    text-decoration: none;
    color:lightblue;
}

/*主區域*/



.lable{

    font-size: 1.5rem;
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-top: 2%;

    text-align: center;
    width: 16%;
    border : 3px white solid;

 }

 @media (min-width: 476px){
    .lable{

        font-size: 2.5rem;
        font-family: 'Zen Maru Gothic', sans-serif;
        margin-top: 2%;
    
        text-align: center;
        width: 16%;
        border : 3px white solid;
    
     }
}

 @media (min-width: 768px){


    .lable{

        font-size: 2.7rem;
        font-family: 'Zen Maru Gothic', sans-serif;
        margin-top: 2%;
    
        text-align: center;
        width: 16%;
        border : 3px white solid;
    
     }
 }


 @media(min-width: 992px){

    .lable{

        font-size: 3.1rem;
        font-family: 'Zen Maru Gothic', sans-serif;
        margin-top: 2%;
    
        text-align: center;
        width: 16%;
        border : 3px white solid;
    
     }

 }

 .item{

    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Zen Maru Gothic', sans-serif;

 }


.item .col-lg-5 ,.item .col-lg-4{

    border: white 3px solid;

}

 .sujectImg{

   
    width: 100%;
    height: 100%;
 }

 .sujectText{

    padding-top: 5%;
    text-align: center;
    font-size: .9rem;
    font-weight: 600;

}


@media (min-width: 476px){
    .sujectText{

        padding-top: 6%;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;

    }
    
}

@media (min-width: 768px){
    .sujectText{
        padding-top: 6%;
        text-align: center;
        font-size: 2.3rem;
        font-weight: 600;

    }

}


 @media(min-width: 992px){
    .sujectText{
        padding-top: 10%;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 600;

    }
}



@media(min-width: 1200px){
    .sujectText{
        padding-top: 20%;
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        line-height: 30px;
    }
}

.sujectText2{

    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 13px;

}


@media (min-width: 476px){
    .sujectText2{

        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 30px;
    }
    
}

@media (min-width: 768px){
    .sujectText2{
        padding-top: 3%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 30px;
    }

}


 @media(min-width: 992px){
    .sujectText2{
        text-align: center;
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 30px;
    }
}

@media(min-width: 1200px){
    .sujectText2{
        padding-top: 7%;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 50px;
    }
}

#More{

    font-size: 3vw;
    border: white 2px solid;
    text-decoration: none;

}

.footer{
    background-color: #d3531a;
    margin-top:10%;

}

.footerImg{

    height:80%;
    width:100%;
    margin-right: 1%;

}
.footerBtnImg{

    height:100%;
    width: 100%;
}

.footerBtn{

    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 7%;
}
.footerBtnList{
    height: 80%;
    width: 100%;
    display: flex;
}



/* Info.html */

.MainImg{

    margin-top: 2%;
    height: 30vw;
    width: 95%;
    margin-right: auto;
    margin-left: auto;

}


.ArrowContainer{

    display: flex;

}

.SujectLabel{


    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 2.6vw;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    text-align: center;

}


/*Info.html grid*/

.wrapper{

    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    

}

.wrapper .Subjectbox:nth-child(2n) .SubjectBoxImg{

    margin-right: auto;
    margin-left: 6%;

}

.wrapper .Subjectbox:nth-child(2n+1) .SubjectBoxImg{

    margin-left: auto;
    margin-right: 6%;

}

.Subjectbox{

    width: 100%;
    height: 100%;

}

.SubjectBoxImg{

    width:70%;
    height: 80%;

}

.controlItem{

    display: flex;

}

.FileCollection{

    width: 90%;
    height: 35vw;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.FileBtn{

    border-color:transparent;
    border-width: 0px;
    background-color: transparent;
    
}

.FileItemBox{

    border: white 4px solid;
    margin-bottom: 3.6%;
    margin-left: 0.2%;
    margin-right: 0.2%;

}

.FileItemBoxText{

    font-size: 2vw;
    text-align: center;
    line-height: 6vw;
    font-weight:600;
    font-family: 'Zen Maru Gothic', sans-serif;

}

.FileItemBoxIcon{

    width: 100%;
    height: 85%;
    margin: auto ;
    padding-top: 5%;
}

@media (min-width: 476px){
    .FileItemBoxIcon{

        width: 50%;
        height: 85%;
        margin: auto ;
        padding-top: 1.2%;
    }
    
}

@media (min-width: 768px){
    .FileItemBoxIcon{

        width: 30%;
        height: 85%;
        margin: auto ;
        padding-top: 3%;
    }
    

}


 @media(min-width: 992px){
    .FileItemBoxIcon{

        width: 27%;
        height: 85%;
        margin: auto ;
        padding-top: 5%;
    }
}

@media(min-width: 1200px){
    .FileItemBoxIcon{

        width: 27%;
        height: 85%;
        margin: auto ;
        padding-top: 5%;
    }
}

.FileItemBoxIcon button{

    width:100%;
    height: 100%;
    margin: auto auto ;
}

/* Chat Room*/

.ChatRoomTitle{

    display: flex;
    width: 50%;
    height: 5vw;
    margin-bottom: 2%;
}





.ChatRoomTitleText{

    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 3vw;
    margin-left: 13%;
    width: 50%;

}



.ChatRoomTitleSubtext{


    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1vw;
    text-align: center;
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.ChatRoomBorder{

    width: 45%;
    height:37vw;
    margin-left: 5%;
    border: 5px white solid;
    margin-bottom: 2%;
    overflow: hidden;

}

.InputChatBox{
    position: relative;
    width: 45%;
    margin-left: 5%;
}

.message-field{

    
    width: 100%;

    font-size: 1.5vw;
    color: aqua;
    border: 5px white solid;
    padding-left: 1%;
    border-radius: 12px;
    padding-right: 30%;
    
}



.SubmitBtn{

    top:25%;
    right: 5%;
    position: absolute;
    height: 50%;
    width: 25%;
    text-align: center;
    line-height: 0cm;
    font-size: 12px;
    padding-left:0;
    padding-right: 0;
   
}

@media (min-width: 476px){
    .SubmitBtn{

        top:25%;
        right: 2%;
        position: absolute;
        height: 50%;
        width: 20%;
        line-height: 0cm;
        font-size: 20px;
    }
    
    
}


@media (min-width: 476px){
   
.message-field{

    
    width: 100%;
    
    font-size: 1.5vw;
    color: aqua;
    border: 5px white solid;
    padding-left: 1%;
    border-radius: 12px;
    padding-right: 23%;
    
}
    
    
}

@media (min-width: 768px){
    .SubmitBtn{

        top:25%;
        right: 2%;
        position: absolute;
        height: 50%;
        width: 20%;
        font-size: 20px;
        line-height: 0cm;
    }
    

}


 @media(min-width: 992px){
    .SubmitBtn{

        top:25%;
        right: 2%;
        position: absolute;
        height: 50%;
        width: 20%;
        font-size: 25px;
        line-height: 0cm;
    }
    
}

@media(min-width: 1200px){
    .SubmitBtn{

        top:25%;
        right: 2%;
        position: absolute;
        height: 50%;
        width: 20%;
        line-height: 0cm;
    }
    
}

#message-list{

    height: 100%;
    padding:0;
    margin-top: 3%;
    overflow-y: scroll;
    margin-right: 1%;

     
}
#message-list::-webkit-scrollbar {

    width: 40px;

  }

  #message-list::-webkit-scrollbar-button {

    background: transparent;

    border-radius: 4px;

  }

  #message-list::-webkit-scrollbar-track-piece {

    background: transparent;

  }

  #message-list::-webkit-scrollbar-thumb {

    border-radius: 4px;

    background-color: rgba(0, 0, 0, 0.4);

    border: 1px solid slategrey;

  }

  #message-list::-webkit-scrollbar-track {

    box-shadow: transparent;

  }


.UserImg{


    width: 14%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;

}

.message-item{

    list-style: none;
    display: flex;
    position: relative;
    height: 23%;
    padding-left: 2%;
    border: 3px white solid;
    padding-top: 1%;
    margin-bottom: 3%;
    margin-left: 2%;
    border-radius: 12px;
    width: 97%;
    overflow-x: hidden;
}   

@media (min-width: 476px){
    .message-item{

        list-style: none;
        height: 16%;
        
    }
    
}

@media (min-width: 768px){
    .message-item{

        list-style: none;
    
    
    }

}


 @media(min-width: 992px){
    .message-item{

        list-style: none;
    
    
    }
}

@media(min-width: 1200px){
    .message-item{

        list-style: none;
        font-size: 1.4vw;
    
    }
}

.chat{

    padding-left: 3%;
    font-size: 1.5vw;
}

.chatTime{

   display: none;
}

@media(min-width: 992px){
    .chatTime{
        display:block;
        font-size: .8vw;
        position: absolute;
        right: 1%;
        bottom: 0;
    }
}

/*

@media (min-width: 476px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 300%;
    }
    
}

@media (min-width: 768px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 330%;
    }

}


 @media(min-width: 992px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 270%;
    }
}

@media(min-width: 1200px){
    .collapse{
        transition: all 0.1s;
        overflow: visible;
        float: right;
        width: 270%;
    }
}
*/